<div class="relative w-full h-90 max-w-full mx-auto overflow-hidden  shadow-lg mt-18 bg-gradient-to-r ">
  <!-- Imagen con animación -->
  <img
    [src]="images[currentIndex]"
    class="w-full  h-100 object-cover transform transition-all duration-700 ease-in-out "
    alt="Imagen de carrusel"
  />

  <!-- Botón anterior -->
  <button
    (click)="prev()"
    class="absolute left-2 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-50 p-2 rounded-full hover:bg-opacity-80 transition"
  >
    ◀
  </button>

  <!-- Botón siguiente -->
  <button
    (click)="next()"
    class="absolute right-2 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-50 p-2 rounded-full hover:bg-opacity-80 transition"
  >
    ▶
  </button>
</div>
