
<section id="nosotros" class="py-20 bg-gradient-to-r from-indigo-600 to-purple-700 text-center">
  <div class="container mx-auto px-6">
    <h3 class="text-6xl font-extrabold text-blue-50 mb-6 text-center mt-10">Sobre nosotros</h3>
    <p class="max-w-3xl mx-auto text-blue-50 leading-relaxed">
      En <span class="font-semibold">Arte y Retórica</span> acompañamos a jóvenes y adultos en su desarrollo personal y comunicativo.
      Creemos en el poder de la palabra para fortalecer la autoestima y la integración grupal.
    </p>
  </div>
</section>
